+++

+++
<!DOCTYPE html>
<html class="no-js" lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	    <meta name="description" content="{{if .IsHome}}{{ $.Site.Params.description }}{{else}}{{.Description}}{{end}}">
	    <meta name="author" content="{{ $.Site.Params.author }}">

		{{ "<!-- Mobile Specific Meta -->" | safeHTML }}
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    {{ .Hugo.Generator }}
		
	    <title> Zachary Endrulat </title>

	    {{"<!-- CSS -->"|safeHTML}}
        <!-- Owl Carousel -->

        <link rel="stylesheet" href="{{"css/owl.carousel.css" | absURL }}">
        <!-- bootstrap.min css -->
		<link rel="stylesheet" href="{{"css/bootstrap.min.css" | absURL }}">
        <!-- Font-awesome.min css -->
		<link rel="stylesheet" href="{{"css/font-awesome.min.css" | absURL}} ">
        <!-- Main Stylesheet -->
      
        <link rel="stylesheet" href="{{"css/animate.min.css" | absURL}} ">

		<link rel="stylesheet" href="{{"css/main.css" | absURL}} ">
        <!-- Responsive Stylesheet -->
		<link rel="stylesheet" href="{{"css/responsive.css" | absURL}} ">
		
		{{ range .Site.Params.custom_css }}
        <link rel="stylesheet" href="{{ . | absURL }}">
        {{ end }}
 <link  rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script defer src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="preload" href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
    <script defer src="https://use.fontawesome.com/releases/v5.12.1/js/all.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.12.1/js/v4-shims.js"></script>
    <link rel="preload" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    
	</head>
	<body>