{{ "<!-- Navigation Start  -->" | safeHTML }}

	<nav id="navigation">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <nav class="navbar navbar-default">
                          <div class="container-fluid">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                              </button>
                              {{"<!-- logo -->" | safeHTML}}
                                  <a class="navbar-brand" href="{{ .Site.BaseURL | absURL }}">
                                  Zachary Endrulat
                                  </a>
                              {{"<!-- logo -->" | safeHTML}}

                            </div>

                            {{ if .IsHome }}        
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                              <ul class="nav navbar-nav navbar-right" id="top-nav">
                                <li><a href="#hero-area">{{ with $.Site.Params.home }}{{ . }}{{ end }}</a></li>
                                {{ range $.Site.Menus.nav }}
                                  <li><a href="#{{ .URL }}">{{ .Name }}</a></li>
                                {{ end }}
                              </ul>
                            </div><!-- /.navbar-collapse -->
                            {{else}}
                              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav navbar-right" id="top-nav">
                                  <li><a data-scroll href="{{ $.Site.BaseURL }}#body">{{ with $.Site.Params.home }}{{ . }}{{ end }}</a></li>
                                  {{ range $.Site.Menus.nav }}
                                  <li><a data-scroll href="{{ $.Site.BaseURL }}#{{ .URL }}">{{ .Name }}</a></li>
                                  {{ end }}
                                </ul>
                              </div><!-- /.navbar-collapse -->
                            
                            {{end}}
                          </div><!-- /.container-fluid -->
                        </nav>
                    </div>
                </div><!-- .col-md-12 close -->
            </div><!-- .row close -->
        </div><!-- .container close -->
	</nav><!-- header close -->